
  <button value="1" (click)="PressButton(1)">1</button>
  <button value="2" (click)="PressButton(2)">2</button>
  <button value="3" (click)="PressButton(3)">3</button>

  <button value="4" (click)="PressButton(4)">4</button>
  <button value="5" (click)="PressButton(5)">5</button>
  <button value="6" (click)="PressButton(6)">6</button>

  <button value="7" (click)="PressButton(7)">7</button>
  <button value="8" (click)="PressButton(8)">8</button>
  <button value="9" (click)="PressButton(9)">9</button>
  
  <button value="0" (click)="PressButton(0)">0</button>

